# Salin file ini jadi ".env" lalu isi nilainya.
# Dapatkan VAPID_PUBLIC_KEY & VAPID_PRIVATE_KEY dengan menjalankan:
#   npm run generate-vapid

PORT=3000
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CONTACT_EMAIL=mailto:emailkamu@example.com
